.main-div{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
background-color:#dfe3ee;
width: 90%;
height: 100vh;
font-style: Helvetica;


}

.introDiv{

    flex: 70%;
    text-align: left;
    /* position: absolute;
    left: 10%;
    top: 20px; */
    font-size: larger;
    font-weight: 100;
    margin-left: 80px;
    
    
    }
    
    .formDiv{
        flex: 30%;
        /* margin-left: 70%; */
        /* margin-top: 30%; */
        /* position: absolute;
        right: 10%;
        top: 10%; */
        background-color: white;
        border-radius: 10px;
        align-items: center;
        
        
        
    }

.formWhite{

    justify-content: center;


}

.fbtitle{
    font-family: Arial, Helvetica, sans-serif;
    color:blue;
    align-items: center;
    font-size: 55px;
    font-weight: 600;
    }


    .login{

        align-items: center;
        margin-left: 100px;


    }


    .newAccountButton{
        margin-left: 80px;


    }

    .h1{


        font-size: 55px;
        font-weight: 500;
    }


